* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: white;
  color: #8e44ad;
}
.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}
.carousel {
  background-color: white;
  color: #111;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h4 {
  position: absolute;
  top: 50%;
  left: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-size: 46px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-transform: uppercase;
}
.carouselName {
  position: relative;
}
:root {
  --marquee-width: 95vw;
  --marquee-height: 30vh;
  --marquee-elements-displayed: 4;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 7s);
  --marquee-scroling-first: calc(
    -1 * var(--marquee-element-width) * var(--marquee-elements)
  );
  --marquee-scroling-second: 0;
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #111;
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
.marquee-content:hover {
  animation-play-state: paused;
}
.marqueeImg:hover {
  transform: scale(1.2);
  transition: all 1s;
}
@keyframes scrolling {
  0% {
    transform: translateX(var(--marquee-scroling-first));
  }
  100% {
    transform: translateX(var(--marquee-scroling-second));
  }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height) * 3 / 4);
  white-space: nowrap;
}
.marquee-content li img {
  width: 100%;
  border: 2px solid #eee;
  cursor: pointer;
}
.slider-left {
  opacity: 0.5;
  position: absolute;
  z-index: 3;
  display: block;
  right: 85%;
  top: 50%;
  color: #ffffff;
  transform: translateY(-50%);
  padding: 20px 15px;
  margin-right: -2px;
  cursor: pointer;
}
.slider-left:hover {
  opacity: 1;
}
.slider-right {
  opacity: 0.5;
  position: absolute;
  z-index: 3;
  display: block;
  left: 85%;
  top: 50%;
  color: #ffffff;
  transform: translateY(-50%);
  padding: 20px 15px;
  margin-left: -2px;
  cursor: pointer;
}
.slider-right:hover {
  opacity: 1;
}
.modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-out;
}
.modal.open {
  opacity: 1;
  pointer-events: all;
}
.full-img {
  position: absolute;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.25s ease-out;
}
.full-img.open {
  transform: translate(-50%, -50%) scale(1);
}
.modal p {
  color: white;
  font-size: 2rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.button {
  margin-left: 15%;
  margin-top: 0.5%;
  background-color: #8e44ad;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 16px;
  opacity: 1;
}
.button:hover {
  background-color: #fafafa;
  color: #8e44ad;
  border: 2px solid #207cca;
}
.button.open {
  opacity: 0;
}
#list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card button:hover {
  opacity: 0.7;
}
h2 {
  margin-left: 15%;
}
.radioButtons {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  margin-left: 15%;
}
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
}
label:before {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0.3em;
  left: 0;
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 2px solid #8e44ad;
  border-radius: 0.25em;
  z-index: -1;
}
input[type="radio"] + label::before {
  border-radius: 1em;
}
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  padding-left: 1em;
  color: white;
}
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  top: 0;
  width: 100%;
  height: 2em;
  background: #8e44ad;
}
label,
label::before {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all;
}
#searchbar {
  margin-left: 15%;
  margin-top: 1%;
  margin-bottom: 0.5%;
  padding: 15px;
}
input[type="text"] {
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}
input[type="text"]:focus {
  width: 70%;
}
@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before,
  .marquee:after {
    width: 5rem;
  }
  #list {
    display: grid;
    grid-template-columns: auto;
  }
}
